[Unit]
Description=Dynamic Theme Switcher

[Timer]
Unit=theme-switch.service
OnCalendar=*-*-* 08:04
Persistent=true

[Install]
WantedBy=timers.target
