@import '.config/wofi/wallust/colors-wofi.css';

#window {
  background-color: rgba(0);
  color: @foreground;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: "JetBrainsMono Nerd Font";
}
#window #outer-box {
  background-color: @background;
  color: @foreground;
}
#window #outer-box #input {
  background-color: @saturatedbg;
  color: @foreground;
  border: none;
  border-bottom: 1px solid rgba(24, 24, 24, 0.2);
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
}
#window #outer-box #input:focus, #window #outer-box #input:focus-visible, #window #outer-box #input:active {
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
#window #outer-box #scroll {
  /* The name of the box containing all of the entries */
}
#window #outer-box #scroll #inner-box {
}
#window #outer-box #scroll #inner-box #entry {
  color: @foreground;
  background-color: @background;
  padding: 0.6rem 1rem;
}
#window #outer-box #scroll #inner-box #entry #img {
  margin-right: 0.5rem;
}
#window #outer-box #scroll #inner-box #entry:selected {
  color: @foreground;
  background-color: @saturatedbg;
  outline: none;
}
