@import './wallust/colors-wlogout.css';

window {
  font-family: Source Code Pro;
  font-size: 16pt;
  color: @foreground;
  background-color: @rgb_bg;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: rgba(200, 220, 255, 0);
  animation: gradient_f 10s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border-radius: 80px;
  border: 0px;
}

button:focus {
  background-size: 50%;
  border: 0px;

}

button:hover {
  /*background-color: @foreground;*/
  background-size: 50%;
  /*margin: 30px;*/
  border-radius: 80px;
/*  box-shadow: 0 0 30px @color7;*/

}

/* Adjust the size of the icon or content inside the button */
button span {
  font-size: 1.2em; /* Increase the font size */
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
