@import "wallust/colors-waybar.css";
@import "style/catppuccin-themes/mocha.css";

* {
  transition: none;
  box-shadow: none;
}

window#waybar {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
  color: @foreground;
  background: @background;
}

#workspaces {
  margin: 0 4px;
  background-color: transparent;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
}

#workspaces button.visible {
  color: @base;
  background-color: @lavender;
}

#workspaces button.active {
  border-radius: 4px;
}

#workspaces button.urgent {
  color: @red;
}

#tray,
#backlight,
#battery,
#pulseaudio,
#bluetooth {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  color: @base;
}

#tray {
  background-color: @blue;
}

#tray * {
  padding: 0 5px;
  border-left: 1px solid @color0;
}

#tray *:first-child {
  border-left: none;
}

#backlight {
  padding: 0 5px;
  background-color: @text;
}

#pulseaudio {
  background-color: @yellow;
  padding: 0 5px;
}

#bluetooth {
  background-color: @mauve;
  padding: 0 5px;
}

#pulseaudio {
  min-width: 20px;
}

/* BATTERY */
/* https://man.archlinux.org/man/waybar-battery.5.en */
#battery {
  background-color: @teal;
  padding: 0 5px;
}
#battery.charging:hover, #battery.discharging:hover {
}
#battery.full,
#battery.good,
#battery.normal-up,
#battery.normal,
#battery.normal-down {
}
#battery.warning-up, #battery.discharging.warning-up {
  color: #f3f2c9;
}
#battery.warning {
  color: #f7ca88;
}
#battery.warning-down {
  color: #fea275;
}
#battery.discharging.critical {
  color: #f65555;
}

