@import "colors-template.css";

* {
  transition: none;
  box-shadow: none;
}

#waybar {
	font-family: 'Source Code Pro', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
  color: @base04;
  background: @base01;
}

#workspaces {
  margin: 0 4px;
}

#workspaces button {
  margin: 4px 0;
  padding: 0 4px;
  color: @base05;
}

#workspaces button.visible {
}

#workspaces button.active {
  border-radius: 4px;
  background-color: @base02;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 4px 4px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#custom-menu {
  padding: 4px;
}

/* BATTERY */
/* https://man.archlinux.org/man/waybar-battery.5.en */
#battery {
  padding: 0 5px;
}
#battery.charging:hover, #battery.discharging:hover {
}
#battery.full,
#battery.good,
#battery.normal-up,
#battery.normal,
#battery.normal-down {
}
#battery.warning-up, #battery.discharging.warning-up {
  color: #f3f2c9;
}
#battery.warning {
  color: #f7ca88;
}
#battery.warning-down {
  color: #fea275;
}
#battery.discharging.critical {
  color: #f65555;
}

