@define-color foreground #0E0608;
@define-color background #FF63FF;
@define-color cursor #0E0608;

@define-color color0 #868184;
@define-color color1 #750D24;
@define-color color2 #542626;
@define-color color3 #733334;
@define-color color4 #642122;
@define-color color5 #18223E;
@define-color color6 #180A0D;
@define-color color7 #0E0608;
@define-color color8 #8A6B87;
@define-color color9 #9C5564;
@define-color color10 #A04947;
@define-color color11 #994445;
@define-color color12 #852C2E;
@define-color color13 #202D53;
@define-color color14 #200E12;
@define-color color15 #050203;
